.ser-con {
  width: "90%";
  max-width: 1200px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ser-con h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #304abd;
  margin-top: 30px;
}

.ser-con p {
  font-size: 1.2rem;
}
